.json_curly {
    -fx-fill: darkblue !important;
}

.json_property {
    -fx-fill: darkblue !important;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: forestgreen !important;
    -fx-font-weight: bold;
}

.json_array {
    -fx-fill: darkblue !important;
}

.json_bool {
    -fx-fill: crimson !important;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: cornflowerblue !important;
}

.main-selection {
    -fx-fill: lemonchiffon;
}
