/*
 * This file is part of DynamoIt.
 *
 *     DynamoIt is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DynamoIt is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DynamoIt.  If not, see <https://www.gnu.org/licenses/>.
 */

.json_curly {
    -fx-fill: -color-chart-5 !important;
}

.json_property {
    -fx-fill: darkblue !important;
    -fx-font-weight: bold;
}

.root:dark .json_property {
    -fx-fill: -color-accent-1 !important;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: -color-chart-3 !important;
    -fx-font-weight: bold;
}

.json_array {
    -fx-fill: #b34d1a !important;
}

.json_bool {
    -fx-fill: -color-chart-1 !important;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: -color-chart-4 !important;
}

.main-selection {
    -fx-fill: lemonchiffon;
}

/*.paragraph-box:has-caret {*/
/*    -fx-background-color: derive(-fx-cell-hover-color, 50%)*/
/*}*/

.code-area {
    -fx-background-color: -color-bg-default;
}
