/*
 * This file is part of DynamoIt.
 *
 *     DynamoIt is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DynamoIt is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DynamoIt.  If not, see <https://www.gnu.org/licenses/>.
 */

/*  ---=== 1 ===---  */
.tab-1 {
    -fx-background-color: -color-chart-1-alpha20;
}
.tab-1:selected {
    -fx-background-color: -color-chart-1;
}
/*  ---=== 2 ===---  */
.tab-2 {
    -fx-background-color: -color-chart-2-alpha20;
}
.tab-2:selected {
    -fx-background-color: -color-chart-2;
}
/*  ---=== 3 ===---  */
.tab-3 {
    -fx-background-color: -color-chart-3-alpha20;
}
.tab-3:selected {
    -fx-background-color: -color-chart-3;
}
/*  ---=== 4 ===---  */
.tab-4 {
    -fx-background-color: -color-chart-4-alpha20;
}
.tab-4:selected {
    -fx-background-color: -color-chart-4;
}
/*  ---=== 5 ===---  */
.tab-5 {
    -fx-background-color: -color-chart-5-alpha20;
}
.tab-5:selected {
    -fx-background-color: -color-chart-5;
}
/*  ---=== 6 ===---  */
.tab-6 {
    -fx-background-color: -color-chart-6-alpha20;
}
.tab-6:selected {
    -fx-background-color: -color-chart-6;
}
/*  ---=== 7 ===---  */
.tab-7 {
    -fx-background-color: -color-chart-7-alpha20;
}
.tab-7:selected {
    -fx-background-color: -color-chart-7;
}
/*  ---=== 8 ===---  */
.tab-8 {
    -fx-background-color: -color-chart-8-alpha20;
}
.tab-8:selected {
    -fx-background-color: -color-chart-8;
}

