/*
 * This file is part of DynamoIt.
 *
 *     DynamoIt is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DynamoIt is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DynamoIt.  If not, see <https://www.gnu.org/licenses/>.
 */

/*  ---=== LIGHTCYAN ===---  */
.toggle-button-lightcyan {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, lightcyan, lightcyan;
}
.toggle-button-lightcyan:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, lightcyan;
}
.toggle-button-lightcyan:selected:focused {
    -fx-background-color:
            -fx-focus-color,
            linear-gradient(to bottom,
            derive(lightcyan, -22%) 0%,
            derive(lightcyan, -13%) 20%,
            derive(lightcyan, -11%) 50%),
            -fx-faint-focus-color,
            linear-gradient(to bottom,
            derive(lightcyan, -22%) 0%,
            derive(lightcyan, -13%) 20%,
            derive(lightcyan, -11%) 50%);
}
.toggle-button-lightcyan:selected {
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
            linear-gradient(to bottom,
            derive(lightcyan, -22%) 0%,
            derive(lightcyan, -13%) 20%,
            derive(lightcyan, -11%) 50%);
}

/*  ---=== ANTIQUEWHITE ===---  */
.toggle-button-antiquewhite {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, antiquewhite, antiquewhite;
}
.toggle-button-antiquewhite:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, antiquewhite;
}
.toggle-button-antiquewhite:selected:focused {
    -fx-background-color:
            -fx-focus-color,
            linear-gradient(to bottom,
            derive(antiquewhite, -22%) 0%,
            derive(antiquewhite, -13%) 20%,
            derive(antiquewhite, -11%) 50%),
            -fx-faint-focus-color,
            linear-gradient(to bottom,
            derive(antiquewhite, -22%) 0%,
            derive(antiquewhite, -13%) 20%,
            derive(antiquewhite, -11%) 50%);
}
.toggle-button-antiquewhite:selected {
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
            linear-gradient(to bottom,
            derive(antiquewhite, -22%) 0%,
            derive(antiquewhite, -13%) 20%,
            derive(antiquewhite, -11%) 50%);
}

/*  ---=== LIGHTPINK ===---  */
.toggle-button-lightpink {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, lightpink, lightpink;
}
.toggle-button-lightpink:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, lightpink;
}
.toggle-button-lightpink:selected:focused {
    -fx-background-color:
            -fx-focus-color,
            linear-gradient(to bottom,
            derive(lightpink, -22%) 0%,
            derive(lightpink, -13%) 20%,
            derive(lightpink, -11%) 50%),
            -fx-faint-focus-color,
            linear-gradient(to bottom,
            derive(lightpink, -22%) 0%,
            derive(lightpink, -13%) 20%,
            derive(lightpink, -11%) 50%);
}
.toggle-button-lightpink:selected {
    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
            linear-gradient(to bottom,
            derive(lightpink, -22%) 0%,
            derive(lightpink, -13%) 20%,
            derive(lightpink, -11%) 50%);
}
